/* CSS */

html, body{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
}

#mapid{
	margin: 0px; padding: 0px;
	width: 480px; height: 320px;
	background-color: gray;
}
.mino{
	background-color:burlywood;
	width: 250px;
}
	.hida{
	background-color: green;
	width: 250px;
}
.tennkiyohou{
	display: flex;
	justify-content: space-around;
}
ul li{
	list-style: none;
	float: left;
}
#hida_saikou ,#mino_saikou{
	padding: 0.5em 1em;
	margin: 2em 0;
	border: double 5px #4ec4d3;
}
.mino, .hida{
	border: 1px solid #5d627b;
}